*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


nav{
    width: 100%;
    height: 70px;
    background: #fff;
    box-shadow: 0px 0px 5px grey;
    display: flex;
    justify-content: space-between;
}

.logo-area{
    width: 10%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}


.search-area{
    width: 35%;
    height: 40px;
    background: grey;
    border-radius:20px;
    padding-left: 20px;
    display: flex;
    align-items: center;

}
.search-area input{
    height: 100%;
    width: 80%;
    background: none;
    border: none;
    font-size: 16px;
}

.nav-link-area{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}

.hero{
    height:88vh;
    width: 100%;
    padding: 0px;
    overflow: hidden;
    position: relative;
}
.hero img{
    width: 102%;
    margin-left:-1%;
    
}

.text-area{
    position: absolute;
    width: 50%;
    aspect-ratio: 1.2;
    left: 0;
    top: 10%;
    padding-left: 13%;
    padding-top: 10%;
}

.heading{
    font-size: 35px;
  
}

.para{
    margin-left: 7%;
    margin-top: 3%;
    font-size: 25px;
}

.offer{
    height: 180px;
    width: 100%;
    background: grey;
    text-align: center;
    padding-top: 40px;
    color: #fff;
}

.offer p{
    font-size: 27px;
}

.category-link{
    margin-top: 20px;
    display: flex;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    justify-content: space-evenly;
   
}

.category-link a{
    color: #fff;
}
.category-link span{
    justify-content: space-evenly;
}

.categories{
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories span{
    position: absolute;
    top: 5%;
    left: 8%;
    font-size: 28px;
}

.category-wrapper{
    width: 450px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
}

.category-card{
    width: 44%;
    margin: 3%;
    aspect-ratio: 1; 
}

.category-card img{
    width: 100%;
}


.offer-section{
    height: max-content;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.offer-heading{
    font-size:30px;
    top: -10%;
    left: 10%;
    position: absolute;
}

.category-wraper{
    width: 700px;
    height: max-content;
    flex-wrap: wrap;
    display: flex;
    padding-top: 60px;
}

.offer-card{
    width: 46%;
    height: fit-content;  
    margin: 10px 2%;
    border-radius: 10px;
    position: relative;
    }

.offer-card img{
    width: 100%;
    height:auto;
    border-radius: 10px;
    box-shadow: 1px 1px 4px grey;
}

.main-text{
    top: 20px;
    text-shadow: 1px 1px 1px black;
    left: 20px;
    position: absolute;
    font-size: 25px;
}

.subtext{
    font-size: 20px ;
color: black;
position: absolute;
top: 60px;
left: 10px;
width: 70%;
text-shadow: 1px 1px 1px black;

}

.offer-card button{
    position: absolute;
    width: 90px;
    height: 35px;
    bottom: 50px;
    left:34%;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}


footer{
    height: 250px;
    width: 100%;
    display: block;
    margin-top:20%;
    background: black;
}


.top-area{
    height: 80%;
    width: 80%;
    margin: auto;
    display: flex;
}

.link-area-fotter{
    width: 20%;
    height: 100%;
    margin:auto 2%;
    padding: 10px;
}

.link-area-fotter p{
    font-size: 25px;
    color: #fff;
}

.link-area-fotter li{
list-style: none;
font-size: 18px;
margin-top: 15px;
color: #fff;
}

.bottom-area{
    height: 20%;

    width: 80%;
    margin: auto;
    border-top: 1px solid grey;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
}


/******Shiping ************/
.shiping-section{
    height: max-content;
    width: 100%;
}

.invoice-area{
    width: 70%;
    max-width: 600px;
    margin:30px auto;
    margin-top: 80px;
}

.invoice-heading{
    font-size: 22px ;
    font-weight: bold;
}

.invoice-subheading{
    font-size: 18px;
    margin-top: 30px;
}


.invoice-box{
    margin-top: 30px;
    height: 200px;
    width: 100%;
    display: block;

}

.invoice-row{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.invoice-top-area{
    border-bottom: 3px solid #eeeeee;
}

.name{
    width: 70%;
}
.qty{
    width: 10%;
}

.price{
    width: 20%;
}


.form-area{
    width: 70%;
    max-width: 600px;
    margin:40px auto;
}

.input-area{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.input-label{
    font-size: 18px;
    font-weight: bold;
}

.input{
    width: 70%;
    max-width: 340px;
    height: 40px;
    margin-top: 10px;
    border:none;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 5px;
    background: #EAEAEA;
}

.button-area{
    margin-top: 30px;
}

.button-area button{
    font-size: 16px;
    color: #fff;
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    background: #373836;

}


#signup-text{
    display: block;
    margin: 30px 30%;
    font-size: 24px;
}

#already-text{
    margin-top: 25px ;
    font-size: 22px;
}
/***************Shiping area end******/

.custom-modal {
	width: 100vw;
	height: 100vh;
	background-color: #ffffff8c;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
}

.custom-modal--bg {
	width: inherit;
	height: inherit;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 1;
}

.custom-modal--container {
	width: 100%;
	max-width: 390px;
	max-height: 100%;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.custom-modal--content {
	background: #fff;
	width: 100%;
	padding: 20px 20px;
	position: relative;
	z-index: 2;
	animation: customModalAnimate 0.4s;
	transition: all 0.1s ease-in;
	border-radius: 4px;
	box-shadow: 10px 10px 20px -10px #000000;
}

.custom-modal--content .modal-content {
	width: 100%;
	min-height: 160px;
	display: flex;
	justify-content: space-around;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.modal-content strong {
	color: #000;
	font-size: 24px;
}

.custom-modal .modal-close {
	color: white;
	position: absolute;
	z-index: 3;
	bottom: 0;
	right: 0;
	transform: translate(0, 110%);
	font-style: normal;
	font-size: 24px;
	font-family: Arial, Baskerville, monospace;
	line-height: 24px;
	cursor: pointer;
}

.custom-modal--cancel {
	position: absolute;
	display: flex;
	top: -60px;
	right: -45px;
	width: 40px;
	height: 40px;
	background: #d3d3d3ba;
	border-radius: 50%;
	box-shadow: 5px 5px 10px -7px #ffffff;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.custom-modal--cancel img {
	width: 50%;
}

.custom-modal--header {
	width: 100%;
	padding: 0 0 16px 0;
	position: relative;
	font-size: 20px;
	z-index: 2;
	animation: customModalAnimate 0.4s;
	transition: all 0.1s ease-in;
}

.custom-modal.modal-hide {
	display: none !important;
}

.custom-btn {
	height: 42px;
	width: auto;
	border-radius: 4px;
	border: 1px solid #707070;
	font-size: 16px;
	font-weight: bold;
	margin: 24px 0 12px 0;
	color: #fff;
	background-color: #000;
	transition: 0.2s ease-out;
	cursor: pointer;
	padding: 0 24px;
}


.custom-btn:hover {
	color: #000;
	background-color: #fff;
}

.custom-btn.active {
	color: #ffffff;
	background-color: #003664;
}

.custom-btn.update {
	color: #ffffff;
	background-color: #003564a1;
	margin-right: 12px !important;
}

.custom-btn.delete {
	color: #ffffff;
	background-color: #ff0000;
	margin-left: 12px !important;
}

.error-text{
    color: red;
    font-size: 12px;
    margin-top: 2px;
}

.search-input {
    position: relative;
    margin: 0 16px;
}

.search-icon {
    position: absolute;
    top: 30%;
    right: 5%;
    width: 8%;
    cursor: pointer;
}

.menu__item {
    text-decoration: none;
    font-size: 18px;
    margin: 0 16px;
    padding: 0;
    color: #373836;
    display: flex;
    align-items: center;
}

.menu__box .search {
    padding: 12px 0;
}

.menu__box .search:hover {
    background-color: transparent;
}

.custom-search-input {
    font-size: 18px !important;
}

.custom-search-input {
	height: 42px;
	width: 100%;
	border-radius: 14px;
	color: #fff;
	border: 1px solid #fff;
	background-color: #7e7e7e;
	padding: 10px 18px;
	font-size: 14px;
	display: block;
}